id: 4
source: 1
templatename: 'euler Book'
category: 'euler Theme'
icon: fa-book
properties: 'a:2:{s:15:"elrTemplateName";a:7:{s:4:"name";s:15:"elrTemplateName";s:4:"desc";s:0:"";s:4:"type";s:9:"textfield";s:7:"options";a:0:{}s:5:"value";s:4:"book";s:7:"lexicon";N;s:4:"area";s:0:"";}s:15:"elrTemplateType";a:7:{s:4:"name";s:15:"elrTemplateType";s:4:"desc";s:0:"";s:4:"type";s:9:"textfield";s:7:"options";a:0:{}s:5:"value";s:4:"blog";s:7:"lexicon";N;s:4:"area";s:0:"";}}'

-----

<!DOCTYPE html>
<html>
<head>
    [[$elr_head]]
</head>

<body class="[[*elr_theme_color]]">
    [[$elr_header]]
    
    <main data-fred-dropzone="content" data-fred-min-height="500px">
        [[*content]]
    </main>
    
    <div class="elr-meta">
        <div class="elr-meta__container">
            <div class="elr-meta__col elr-meta__col--side-start">
                
            </div>
            <div class="elr-meta__col elr-meta__col--main">
                <div class="elr-meta__table">
                    <table class="elr-table">
                        <tbody>
                            <tr>
                                <th scope="row">Titel kurz</th>
                                <td>[[*pagetitle]]</td>
                            </tr>
                            <tr>
                                <th scope="row">Titel lang</th>
                                <td>[[*longtitle]]</td>
                            </tr>
                            <tr>
                                <th scope="row">Untertitel</th>
                                <td>[[*elr_subtitle]]</td>
                            </tr>
                            <tr>
                                <th scope="row">Autor / Autoren</th>
                                <td>[[*elr_meta_author]]</td>
                            </tr>
                            <tr>
                                <th scope="row">Auflage</th>
                                <td>[[*elr_meta_book_edition]]</td>
                            </tr>
                            <tr>
                                <th scope="row">Verlag</th>
                                <td>[[*elr_meta_publisher]]</td>
                            </tr>
                            <tr>
                                <th scope="row">ISBN</th>
                                <td>[[*elr_meta_isbn]]</td>
                            </tr>
                            <tr>
                                <th scope="row">Umfang</th>
                                <td>[[*elr_meta_book_attributes]]</td>
                            </tr>
                            <tr>
                                <th scope="row">Berufe</th>
                                <td>[[*elr_meta_targetoccupation:elrFormatCsv]]</td>
                            </tr>
                            <tr>
                                <th scope="row">Zielgruppe</th>
                                <td>[[*elr_meta_targetgroup:elrFormatCsv]]</td>
                            </tr>
                            <tr>
                                <th scope="row">Kategorie</th>
                                <td>[[*elr_meta_tag:elrFormatCsv]]</td>
                            </tr>
                            <tr>
                                <th scope="row">Buchform</th>
                                <td>[[*elr_meta_book_medium:elrFormatCsv]]</td>
                            </tr>
                            <tr>
                                <th scope="row">Sprache</th>
                                <td>[[*elr_meta_lang:elrFormatCsv]]</td>
                            </tr>
                            <tr>
                                <th scope="row">URL</th>
                                <td><a href="[[*elr_meta_url]]" target="_blank">[[*elr_meta_url]]</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="elr-meta__col elr-meta__col--side-end">
                
            </div>
        </div>
    </div>
    
    [[$elr_footer]]
    
    [[$elr_scripts]]
</body>
</html>