id: 11
name: 'Populated Grid'
uuid: 3af4b450-318a-4848-8d0d-9e8145a2e37a
image: 'https://placehold.co/300x150?text=Populated+Grid'
category: 3
rank: 4
options_override: '{"remote":true,"settings":[{"name":"length","label":"Number of Items (0 for no limit)","type":"slider","min":0,"max":8,"value":0},{"name":"modifier","label":"Modifier","type":"select","options":{" ":"Default","elr-grid--featured":"Featured"},"value":" "},{"name":"parentPage","label":"Parent Page","type":"page","clearButton":true},{"name":"actionarea","label":"Action Area Association","type":"page","clearButton":true,"parents":"[[++fred.theme.euler.id_actionarea]]"},{"name":"filterOperator","label":"Filter Operator","type":"select","options":{"||":"OR","&&":"AND"},"value":"||"},{"name":"valueadd","label":"Value Add Association","type":"page","clearButton":true,"parents":"[[++fred.theme.euler.id_valueadd]]"}]}'

-----

[[pdoResources?
    &parents=`{% if not parentPage %}[[++fred.theme.euler.id_info]]{% endif %}{{parentPage.id}}`
    &depth=`1`
    &limit=`{{ length }}`
    &includeTVs=`elr_og_image,elr_og_image_alt,elr_subtitle,elr_theme_color`
    &tpl=`elr_tpl_card`
    &tplWrapper=`@INLINE <section class="elr-grid elr-grid--row-cols-4 {{ modifier }}"><div class="elr-grid__container">[[+output]]</div>{% if length != 0 %}<div class="__btn"><a href="[[~{{parentPage.id}}]]" class="btn">Alle Lesen</a></div>{% endif %}</section>`
    &tvFilters=`{% if actionarea.id > 0 %}elr_tag_actionarea=={{ actionarea.id }}{% endif %}{% if actionarea.id > 0 and valueadd.id > 0 %}{% if filterOperator == "&&" %},{% else %}{{filterOperator}}{% endif %}{% endif %}{% if valueadd.id > 0 %}elr_tag_valueadd=={{ valueadd.id }}{% endif %}`
]]<div class="container" data-fred-render="false">&uarr; There should be cards rendering here. They only show up if they are published. <br> If nothing shows up, please check this Elements settings. <br> Filter string: <code>{% if actionarea.id > 0 %}elr_tag_actionarea=={{ actionarea.id }}{% endif %}{% if actionarea.id > 0 and valueadd.id > 0 %}{% if filterOperator == "&&" %},{% else %}{{filterOperator}}{% endif %}{% endif %}{% if valueadd.id > 0 %}elr_tag_valueadd=={{ valueadd.id }}{% endif %}</code></div>
