id: 8
name: Card
uuid: 73bd3f09-6ed5-432f-ae5a-9e7a3613e5db
image: 'https://placehold.co/300x150?text=Card'
category: 2
rank: 3
options_override: '{"remote":true,"settings":[{"fred-import":"colorModifier"},{"name":"modifier","label":"Modifier","type":"select","options":{"":"Default","elr-card--bg-media":"Background Media"},"value":""},{"name":"link","label":"Hyperlink","type":"toggle","value":"0"},{"name":"linkPage","label":"Linked Page","type":"page"},{"name":"modal","label":"Open as Modal?","type":"toggle","value":"0"},{"name":"mediaUrl","label":"Media URL","type":"image","mediaSource":"Images","value":""},{"name":"mediaAlt","label":"Media Description for Screen Readers <br> (This is what you can factually see on the image)","type":"text","value":""},{"fred-import":"aspectRatio"},{"fred-import":"objectFit"}]}'

-----

<div class="elr-card {{ modifier }} {{ colorModifier }} {{ aspectRatio }} {{ objectFit }} {% if link %}elr-card--link{% endif %}">
    
    {% if link %}
        {% if modal %}
            <a class="elr-card__container" data-bs-toggle="modal" data-bs-target="#modal-{{ linkPage.id }}">
        {% else %}
            <a class="elr-card__container" data-fred-link-type="page" data-fred-link-page="{{ linkPage.id }}">
        {% endif %}
    {% else %}
    <div class="elr-card__container">
    {% endif %}
    
        <div class="elr-card__media">
            <img src="{{ mediaUrl }}" alt="{{ mediaAlt }}">
        </div>
        <div class="elr-card__body">
            <div data-fred-name="content" data-fred-rte="true" data-fred-rte-config="paragraph">
                Insert text here...
            </div>
            <div class="elr-card__link-indicator" data-fred-name="link-indicator" data-fred-rte="true">
                Learn More
            </div>
        </div>

    {% if link %}
    </a>
    {% else %}
    </div>
    {% endif %}
    
    {% if modal %}
        <div class="modal fade" id="modal-{{ linkPage.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-controls">
                                <a href="[[~{{ linkPage.id }}]]" class="btn">Fullscreen</a>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <h4 class="modal-title">[[pdoField?&id=`{{ linkPage.id }}`&field=`pagetitle`]]</h4>
                        </div>
                        <div class="modal-body">
                            [[pdoField?&id=`{{ linkPage.id }}`&field=`content`]]
                        </div>
                        <div class="modal-footer">
                            <h4 class="modal-title">[[pdoField?&id=`{{ linkPage.id }}`&field=`pagetitle`]]</h4>
                            <div class="modal-controls">
                                <a href="[[~{{ linkPage.id }}]]" class="btn">Fullscreen</a>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}

</div>